################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DD.Crm.SolutionDeployer/obj/Debug
